<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Input Help</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <ol>
            <li class="mb-2">
                Enter your inputs and click the 'Compute' button to run the analysis.
            </li>
            <li class="mb-2">
                The 'Compute' button becomes clickable only if all the inputs are valid.
            </li>
            <li class="mb-2">
                For "1. Grid size (upper-right coordinates)", fields "X" and "Y" can accept a value between and including 1 and 50.
            </li>
            <li class="mb-2">
                For "2. Robots Configuration:"
                <ol>
                    <li class="mb-1">
                        All the four fields - "X", "Y", "Direction" & "Instructions", in the "Robot Position" and "Instructions" columns are required.
                    </li>
                    <li class="mb-1">
                        You can have any number of robots added to the simulation by clicking "Add Robot" button.
                    </li>
                    <li class="mb-1">
                        The 'Compute' button becomes clickable only if the values for all the four input fields for every robot is present.
                    </li>
                </ol>
            </li>
        </ol>
      </div>
    </div>
</div>